body {
    background-color: #F5F5DC;
}

.divfooter a {
    display: flex;

}


@media screen and (max-width: 576px) {

    footer {
        border: 1px solid #444444;
        background-color: #FF8C00;
        border-radius: 10px;
        box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.322);
        font-family: 'Monoton', cursive;
        color: #708090;
        font-size: 1em;


    }


    .divfooter a {
        text-decoration: none;
        color: #444444;
        justify-content: center;
    }

}

@media screen and (min-width: 577px) {

    footer {
        border: 1px solid #444444;
        background-color: #FF8C00;
        border-radius: 10px;
        box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.322);
        font-family: 'Monoton', cursive;
        color: #708090;
        font-size: 3em;


    }


    .divfooter a {
        text-decoration: none;
        color: #444444;
        justify-content: center;

    }

}