body {
    background-color: #F5F5DC;
}

header {
    border: solid;
    background-color: #FF8C00;
}

.logoclique {
    border-radius: 10%;
}

.title {
    font-family: 'Monoton', cursive;
    color: #708090;
}